.head {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    height: 56px;

}

.navsearch {
    display: flex;
    margin-left: 160px;
    justify-content: space-evenly;
    height: 36px;

}

.input {
    border-radius: 20;
    padding-left: 20px;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 1.2rem;
    height: 32px;
    width: 480px;
}

.search {

    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid grey;
    background-color: rgb(243, 163, 14);
    width: 60px;
}


.sr {
    margin-left: 200px;
    margin-top: 10px;
    padding: 10px;
    width: 450px;
    background-color: white;
    border-radius: 100px;
    font-size: 17px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}

.sr-1 {

    border: 1px 1px grey solid;
    height: 200px;
    width: 23px;
    font-size: 20px;
    margin-top: 18px;
    margin-left: -42px;

}

.Mc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    transition: 0.45s;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: 30px;
    background-color: rgb(211, 210, 210);
}

.Mc:hover {
    transition: 0.45s;
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 80%;
}

.yt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.yt img {
    height: 36px;
    margin-left: 20px;
}

.yt i {
    font-weight: 300;
    font-size: 20px;
}

.sl {
    margin-top: 16px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 100;
    transition: 0.65s;
}

.sl:hover {
    border-radius: 100%;
    height: 20px;

    background-color: rgb(153, 152, 152);
    transition: 0.85s;
    color: blue;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 36px;
    margin-left: 197px;
    padding-top: 10px;

}


.br {
    font-family: "Roboto", "Arial", sans-serif;
    border: 1px solid transparent;
    padding: 7px 7px 7px 7px;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    transition: 0.15s;
    cursor: pointer;
    font-weight: 550;
    font-size: 14px;
}

.br:hover {
    transition: 0.15s;
    background-color: rgb(206, 203, 203);
}

.span {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 7px 7px 7px 7px;
    border-radius: 8px;
    transition: 0.15s;
}

.span:hover {
    transition: 0.15s;
    color: white;
    background-color: grey;
}

.el {
    margin-top: 5px;
    font-size: 28px;
    margin-left: 200px;
}

.SG {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 14px;
    transition: 0.15s;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    padding: 8px, 8px, 8px, 8px;
    font-weight: 550;
    margin-top: 2px;
    margin-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SG i {
    font-size: 16px;
}

.SG:hover {
    cursor: pointer;
    background-color: rgb(106, 202, 247);
    color: white;
    border: 1px solid rgb(206, 203, 203);
    transition: 0.15s;
    height: 30px;
    width: 100px;

}

.slide {
    margin-top: 68px;
    margin-left: 2px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 199px;
    overflow: scroll;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.ho1 {
    display: flex;
    align-items: center;
    width: 150px;
    border: 1px solid transparent;
    margin-top: 6px;
    margin-left: 6px;
    border-radius: 11px;
    transition: 0.2s;
}


.ha h5 {
    color: rgb(145, 145, 145);
    word-spacing: 2px;
}

.ho1 i {
    font-weight: 300;
    font-size: 24px;
    margin-left: 12px;

}

.ho1 p {
    font-size: 13px;
    margin-left: 15px;

}

.ha {
    color: rgb(65, 65, 65);
    margin-left: 20px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.ho1:hover {
    transition: 0.2s;
    background-color: rgb(200, 199, 199);
    cursor: pointer;
}

.main {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 191px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main h5 {
    font-size: 13px;
    margin-top: -14px;
    font-weight: 500;
}

.main img {
    height: 160px;
    border-radius: 6px;
}
.main h3{
font-size: 15px;
}
.content{
    max-width: 300px;
    height: 300px;
}